<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>ControladorLogin</servlet-name>
		<servlet-class>com.inventario.con.ControladorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorLogin</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorMain</servlet-name>
		<servlet-class>com.inventario.con.ControladorMain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorMain</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ControladorMain</servlet-name>
		<url-pattern>/RegUser.es</url-pattern>
	</servlet-mapping>
	<!-- <servlet> -->
	<!-- <servlet-name>ControladorLogin</servlet-name> -->
	<!-- <servlet-class>com.inventario.con.ControladorLogin</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>ControladorLogin</servlet-name> -->
	<!-- <url-pattern>/login.do</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Seguridad de Contenedor -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area protegida administrador</web-resource-name>
			<url-pattern>*.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrador</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>administrador</role-name>
	</security-role>
	
	<!-- Modo de Autorización -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Configuración de Spring -->
	<context-param>
	<param-name>contextConfigLocation</param-name>
		<param-value>classpath:contextAplicationService.xml</param-value>
	</context-param>
	
	<!--
		 El Listener permite carga el Framework Spring antes que se despliegue la aplicación
		 y lea el fichero de configuración
	 -->
	 
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

</web-app>