<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- Controlador página principal -->
	<servlet>
		<servlet-name>ControladorInventario</servlet-name>
		<servlet-class>com.inventario.con.ControladorInventario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorInventario</servlet-name>
		<url-pattern>/principal.do</url-pattern>
	</servlet-mapping>

	<!-- Controlador de Registro -->
	<servlet>
		<servlet-name>ControladorRegistro</servlet-name>
		<servlet-class>com.inventario.con.ControladorRegistro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorRegistro</servlet-name>
		<url-pattern>/registro.do</url-pattern>
	</servlet-mapping>

	<!-- Controlador de Editar -->
	<servlet>
		<servlet-name>ControladorEditar</servlet-name>
		<servlet-class>com.inventario.con.ControladorEditar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorEditar</servlet-name>
		<url-pattern>/editar.do</url-pattern>
	</servlet-mapping>

	<!-- Página Principal -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>